# Copyright (c) 2022 Space Cubics, LLC.
# SPDX-License-Identifier: Apache-2.0

menu "micro-ROS"

config MICRO_ROS
	bool "micro-ROS for Zephyr"
	select CPLUSPLUS
	help
	  micro-ROS for Zephyr

endmenu
