# Copyright (c) 2022 Space Cubics, LLC.
# SPDX-License-Identifier: Apache-2.0

menu "micro-ROS"

config MICRO_ROS
	bool "micro-ROS for Zephyr"
	select CPP
	select POSIX_API if !ARCH_POSIX
	help
	  micro-ROS for Zephyr

if MICRO_ROS

config APP_LINK_WITH_ROS2
	bool "Link 'app' with micro-ROS"
	default y

rsource "modules/microxrcedds-client/Kconfig"
rsource "modules/rmw_microxrcedds/Kconfig"

endif

endmenu
