# Copyright (c) 2022 Space Cubics, LLC.
# SPDX-License-Identifier: Apache-2.0

config RMW_MICROXRCEDDS
	bool "RMW Micro XRCE-DDS implementation"
	help
	  ROS 2 Middleware implementation for XRCE-DDS written in C.
